body {
    background-color: antiquewhite;
}
h1{
   color:black; 
}

.topnav a{
    background-color: white;
    width: 200px;
    display: inline-block;
}
.topnav a{
    text-align: center;
    padding:14px 16px;
}
.topnav a:hover{
    background-color: #ddd;
    color: grey;
}
.formspage{
    font-family: "charteritc", Helvetica;
    width:700px;
    margin:35px auto;
    background: linear-gradient(120deg, #ffffff, antiquewhite 99%);
    border-radius: 10px; 
    border-style: solid;    

}
a:link {
    color: #013147;
  }
  
  /* visited link */
  a:visited {
    color: #94958B;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
.block{
    display: block;
    margin-top: 15px;
    
}
.centered{
    text-align: center;

}
fieldset {
    border: 0;
}
.boundright{
    text-align: right;
}
.middleul{
    display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
.simple{
    border-collapse: collapse;
    border: 1px solid black;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    

}
.simple tr, .simple td, .complex tr, .complex td, .complex th{
    border: 1px solid black;
    padding: 10px;
}
.complex{
    border-collapse: collapse;
    border: 1px solid black;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: aliceblue;
}
.complex tr:nth-child(odd){
    background-color: aqua;
}
