body {
    background-color: antiquewhite;
}
h1{
   color:black; 
}

.topnav a{
    background-color: white;
    width: 200px;
    display: inline-block;
}
.topnav a{
    text-align: center;
    padding:14px 16px;
}
.topnav a:hover{
    background-color: #ddd;
    color: grey;
}
.formspage{
    font-family: "charteritc", Helvetica;
    width:700px;
    margin:35px auto;
    background: linear-gradient(120deg, #ffffff, antiquewhite 99%);
    border-radius: 10px; 
    border-style: solid;    

}
.block{
    display: block;
    margin-top: 15px;
    
}
.centered{
    text-align: center;

}
fieldset {
    border: 0;
}
.boundright{
    text-align: right;
}