<footer id="footer" class="text-center text-lg-start navbar-fixed-bottom" style="background-color: #BC6C25;">
      <div class="container d-flex justify-content-center py-5">
        <a href = "https://webpages.charlotte.edu/awaghcho/">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa-solid fa-w"></i>
        </button>
        </a>
        <a href = "https://github.com/AmanW-GitHub">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa-brands fa-github"></i>
        </button>

        </a>
        <a href = "https://amanw-github.github.io/">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa-brands fa-github-alt"></i>
        </button>
        </a>
        <a href =  "https://amanw-github.github.io/itis3135/">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa-brands fa-square-github"></i>
        </button>
        </a>
        <a href = "https://www.freecodecamp.org/amanwaghcho">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa-brands fa-free-code-camp"></i>
          </button>
        </a>
        <a href = "https://www.codecademy.com/profiles/amanwagchcho">
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2 " style="background-color: #54456b;">
            
            <img src="./images/codecademy_logo_icon_167734.png" class= "m-1 " style="filter: brightness(0) invert(1); display: block; margin-left: auto; margin-right: auto; " height="22em" width="22em">
         
        </button>
    </a> 
          <a href = http://www.linkedin.com/in/aman-waghchoure-68052b254>
          <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa-brands fa-linkedin-in"></i>
          </button>
        </a>

      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        Designed by:
        <a class="text-white" href="waghchouredesigns.com/">Waghchoure Corporation</a>
        © 2023 <br>
        <a class="text-white" href="https://www.freecodecamp.org/certification/amanwaghcho/responsive-web-design">Certified in JS</a>
      </div>
      <!-- Copyright -->
    <div class= "mt-2">
      <a href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px"
        src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!"></a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid
        CSS!">
    </a>
    
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href); 
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
    </div>

    </footer>
      
      
    

                    <!--
        
        ||
        <a href = "https://github.com/AmanW-GitHub">Github</a>
        ||
        <a href = "https://amanw-github.github.io/">Github Pages</a>
        ||
        <a href = "https://amanw-github.github.io/itis3135/">Github Course Page</a>
        ||
        <a href = "https://www.freecodecamp.org/amanwaghcho">FreeCodeCamp</a>
        ||
        <a href = "https://www.codecademy.com/profiles/amanwagchcho">Codecademy</a>
        ||
        <a href = "http://www.linkedin.com/in/aman-waghchoure-68052b254">LinkedIn</a>
        </nav>
        <p>Page Built by <a href = "waghchouredesigns.com/">Waghchoure Corporation</a> © 2023</p>
        
        
    </footer>    
    -->
