<header>
        <h1>Aman Waghchoure's Awesome Wallaby || ITIS-3135</h1>
        
        <nav class="topnav">
            <a href = "./" >Homepage</a>
            <a href = "introduction.html">Introduction</a>
            <a href = "contract.html">Contract</a>
            <a href = "tables.html">Tables</a>
            <a href ="forms.html">Forms</a>
            <a href ="website_evaluations.html">Website Evaluations</a>
        </nav>
        <nav class="topnav">
            <a href ="stuff/COOL PAGE!!!.htm">Crappy</a>
            <a href="firstscripts.html">First Scripts</a>
            <a href="byo_intro.html">BYO Intro</a>
            <a href="project_1.html">Project 1</a>
            </nav>
</header>