<header>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #BC6C25">
        
                <a class="navbar-brand" href="./index.html">
                    <img src="./images/pexels-petr-ganaj-6846270.jpg" width="50" height="50" class="d-inline-block rounded-circle">
                    Awesome Wallaby
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href = "./" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href = "introduction.html" class="nav-link">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a href = "contract.html" class="nav-link">Contract</a>
                    </li>
                    <li class="nav-item">
                        <a href = "tables.html" class="nav-link">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a href = "forms.html" class="nav-link">Forms</a>
                    </li>
                    <li class="nav-item">
                        <a href = "website_evaluations.html" class="nav-link">Website Eval</a>
                    </li>
                </ul>
                
            </div>

            <!--
                
            <a href = "./" >Homepage</a>
            <a href = "introduction.html">Introduction</a>
            <a href = "contract.html">Contract</a>
            <a href = "tables.html">Tables</a>
            <a href ="forms.html">Forms</a>
            <a href ="website_evaluations.html">Website Evaluations</a>
-->
        </nav>
        <nav class="navbar navbar-expand-md navbar-light" style="background-color:antiquewhite;" id="main-bar">
            <ul class="navbar-nav">
               <li class="nav-item"><a href="stuff/COOL PAGE!!!.htm" class="nav-link">Crappy</a></li>
                <li class="nav-item"><a href="firstscripts.html" class="nav-link">First Scripts</a></li>
                <li class="nav-item"><a href="byo_intro.html" class="nav-link">BYO Intro</a></li>
                <li class="nav-item"><a href="project_1.html" class="nav-link">Project 1</a></li>
                <li class="nav-item"><a href="calculator_try.html" class="nav-link">Calc</a></li>
                <li class="nav-item"><a href="arrays.html" class="nav-link">Array</a></li>
                <li class="nav-item"><a href="hobby/index.html" class="nav-link">Hobby</a></li>
            </ul>
                    
<!--
            <a href ="stuff/COOL PAGE!!!.htm">Crappy</a>
            <a href="firstscripts.html">First Scripts</a>
            <a href="byo_intro.html">BYO Intro</a>
            <a href="project_1.html">Project 1</a>
-->
            </nav>
        </header>
